<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choices page</title>
  </head>
  <body>
    <ul>
      {% if not choices %}
        <h4>There are no choices available :(</h4>
      {% endif %}

      {% for choice in choices %}
        <h1>{{ choice.question.question_text }}</h1>
        <p>{{ choice.choice_text }} -- {{ choice.votes }}  vote{{ choice.votes|pluralize }}</p>
      {% endfor %}
    </ul>
  </body>
</html>