{% if latest_question_list %}
    {% for question in latest_question_list %}
        <a href="{% url 'polls:vote' question.id %}">
                {{ question.question_text }}</a>
        <p></p>
    {% endfor %}
{% else %}
    <p>No polls are available!</p>
{% endif %}

