<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page :)</title>
  </head>
  <body>
    <!-- Learned that admin is a collection of paths and
    I had to reference 'admin:index' not 'admin' -->
    <a href="{% url 'admin:index' %}">Be the admin!</a>
    <p></p>
    <a href="{% url 'polls:polls' %}">Go to the polls!</a>
  </body>
</html>