<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choices page</title>
  </head>
  <body>
    <ul>
      {% for choice in most_popular_choices %}
        <h1>Question id: {{ choice.question.pk }}</h1>
        <p>{{ choice.choice_text }} -- {{ choice.votes }}  vote{{ choice.votes|pluralize }}</p>
      {% endfor %}
    </ul>
  </body>
</html>