<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>my_index</title>
  </head>
  <body>
    <ul>
      {% if not questions %}
        <h4>There are no questions available :(</h4>
      {% endif %}

      {% for question in questions %}
        <a>Published on: {{ question.pub_date }}</a>
        <p></p>
        <!-- Learning how to link to the right admin page was pretty cool :) -->
        <a href="{% url 'admin:polls_question_change' question.id %}">
                {{ question.question_text }}</a>
        <p></p>
      {% endfor %}
    </ul>
  </body>
</html>