<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Choices page</title>
  </head>
  <body>
    <ul>
      {% if not questions %}
        <h4>There are no questions available :(</h4>
      {% endif %}

      {% for question in questions %}
        <h4>Published on: {{ question.pub_date }}</h4>
        <h1>{{ question.question_text }}</h1>
      {% endfor %}
    </ul>
  </body>
</html>